body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #146ac0;
}

.calculator {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(177, 96, 96, 0.2);
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

button {
    background-color: #1c252e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #295e96;
}

#result {
    font-size: 20px;
    color: #333;
}
